<div class="container">
  <header align="center" class="header-wrap">
    {{!-- <h1>View or update your user</h1> --}}
  <div class="row mt-5">
      <div class="col-md-1">
          <!-- spacing -->
      </div>
        <div class="col-md-5 text-center" id="boojiDiv">
            <h1 class="text-white"></h1>

            {{> avatar/avatar-image }}

            <!-- <button type="submit" class="btn-lg btn-success whiteborder mb-3">Save Changes</button> -->
        </div>
      <div class="col-md-5">

          <div id="formDiv">

              <h1 class="text-white text-center mt-0">Update your Account</h1>

              {{!-- All of these fields were present in Alper's example --}}
              <h3 id="update-err-msg" class="text-warning text-center"></h3>

              <form id= "create-form">
                    <div class="form-group"> <!-- First Name -->
                      <small><label for="inputFirst" class="col-form-label text-white font-weight-bold">First Name:</label></small>
                      <input type="text" class="form-control" id="inputFirst" value="{{user.user.firstName}}">
                    </div>
                    <div class="form-group"> <!-- User Name -->
                        <small><label for="inputUserName" class="col-form-label text-white font-weight-bold">Username:*</label></small>
                        <input type="text" class="form-control" id="inputUserName" value="{{user.user.userName}}">
                    </div>
                    <div class="form-group"> <!-- Email -->
                      <small><label for="inputEmail" class="col-form-label text-white font-weight-bold">Email:</label></small>
                      <input type="text" class="form-control" id="inputEmail" value="{{user.user.email}}">
                    </div>
                    <div class="form-group"> <!-- Password -->
                        <small><label for="inputPassword" class="col-form-label text-white font-weight-bold">Password:*</label></small>
                        <input type="password" class="form-control" id="inputPassword" value="">
                    </div>
                  <button type="submit" class="btn btn-success btn-block whiteborder" id="update-user" data-userId="{{user.user.userId}}">Update</button>
              </form>

              <p class="text-white text-center mt-3"><a href="/" class="text-white underlink">Cancel and return to homepage.</a></p>
          </div>
      </div>
      <div class="col-md-1">
          <!-- spacing -->
      </div>
  </div>

    {{> nav/nav-footer }}

</div> <!-- close container -->