<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="speech-bubble">Hi {{user.firstName}}! Have you completed any of these tasks today?</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row mt-5">
        <div class="col-md-1">
            <!-- spacing -->
        </div>
        <div class="col-md-5 text-center" id="boojiDiv">
            <img src="assets/images/tempGhost.jpg" class="img-fluid mb-3">
            <button type="submit" class="btn-lg btn-primary whiteborder mb-3">Update by Boojiwoo</button>
        </div>
        <div class="col-md-5" id="buttonDiv">

            <form>
                <button type="submit" class="btn-lg btn-success btn-block whiteborder mb-3">{Task 1}</button>
                <button type="submit" class="btn-lg btn-success btn-block whiteborder mb-3">{Task 2}</button>
                <button type="submit" class="btn-lg btn-success btn-block whiteborder mb-3">{Task 3}</button>
                <button type="submit" class="btn-lg btn-success btn-block whiteborder mb-3">{Task 4}</button>
                <button type="submit" class="btn-lg btn-success btn-block whiteborder mb-3">{Task 5}</button>
                <button type="submit" class="btn-lg btn-success btn-block whiteborder mb-3">{Task 6}</button>
                <button type="submit" class="btn-lg btn-danger btn-block whiteborder mb-3">None Yet</button>
            </form>

        </div>
        <div class="col-md-1">
            <!-- spacing -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
                <hr class="border-white">
                <p class="text-white text-center"><a href="#" class="text-white underlink">Update My Account</a></p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div> <!-- close container -->