<div id="buildImage">
    <div id="buildOutfit">
        <img src="{{user.user.avatarHat}}" class="img-fluid mb-3" id="new-outfit">
    </div>
    <div id="buildEyes">
        <img src="{{user.user.avatarEyes}}" class="img-fluid mb-3" id="new-eyes">
    </div>
    <div id="buildMouth">
        <img src="{{user.user.avatarMouth}}" class="img-fluid mb-3" id="new-mouth">
    </div>
    <div id="buildBody">
        <img src="{{user.user.avatarColor}}" class="img-fluid mb-3" id="new-body">
    </div>
</div> <!-- close #buildImage -->
