<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
        <hr class="border-white">
        <p class="text-white text-center">
            <a href="/" class="text-white underlink">Home</a> &nbsp;&nbsp;
            <a href="/upgrade" class="text-white underlink">Store</a> &nbsp;&nbsp;
            <a href="/profile" class="text-white underlink">My Account</a> &nbsp;&nbsp;
            <a href="/logout" class="text-white underlink">Logout</a>
        </p>
    </div>
    <div class="col-md-1"></div>
</div>